---
import { news } from '../data/news';
---

<aside class="news-sidebar">
  <h2 class="news-title">News</h2>
  <ul class="news-list">
    {news.map(item => (
      <li class="news-item">
        <span class="news-date">{item.date}</span>
        <p class="news-text">{item.text}</p>
      </li>
    ))}
  </ul>
</aside>
