---
import { news } from '../data/news';
---

<aside class="news-sidebar">
  <p class="news-title">NEWS</p>
  <ul class="news-list">
    {news.map(item => (
      <li class="news-item">
        <span class="news-date">{item.date}</span>
        <span class="news-text">{item.text}</span>
      </li>
    ))}
  </ul>
</aside>
